# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyc
*$py.class
.#*#
.DS_Store

# Virtualenv
venv/
ENV/

# Logs
logs/
*.log

# IDE
.idea/

# Environment variables
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib64/
lib/
include/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv and some .env files are used for controlling runtime configuration. This will enable you to use this config instead of environments variable in development.
.env
